@-moz-document domain("adfoc.us")
{
/*
  This is to make the skip button HUGE, and hide the rest
*/

  a.skip
  {
    float: none !important;
    margin: 0 !important;
  }

  img
  {
    width: 100% !important;
    height: auto !important;
    image-rendering: pixelated !important;
  }

  .content, .topText, .interstitial-logo
  {
    display: none !important;
  }

}
